<div class="content">
  <h1>
    <%= @todo_list.title %>, items: <%= @todo_list.todos.count %>
  </h1>
<%= render :partial =>'todos', :locals => {:todo_list => @todo_list}%>
  <div id="new_todo" class="content">
    <h1>Add new TODO items</h1>
    <%=form_for :todo , :url => todo_list_todos_path(@todo_list, :format => 'js'), :remote => true do |f| %>
      <%= f.label :title%>
      <%= f.text_field :title, :size => 35%>
      

      <%= f.label :expected_duration%>
      <%= f.text_field :expected_duration, :size=>3%><br/>
      
      <%= f.label :due_date%>
      <%= f.datetime_select :due_date%><br/>
      

      <%#= f.check_box :is_finished%>
      <%#= f.label :is_finished%>
      <%=f.submit("Add TODO", :class=>'style="display:none"')%><br />

    <%end%>
  </div>


  <%= link_to 'Edit', edit_user_todo_list_path(@user,@todo_list) %> |
  <%= link_to 'Back', user_todo_lists_path(@user) %>
</div>